.fondo{

    background-image: url(../img/walli.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    height: 722px;
}


ul{
 margin-left: 615px;
}

li{
    display: table-cell;
    padding-left: 108px;
    padding-top: 72px;



}

a{
    text-align: center;
    color:#FFFFFF;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    background-color:#FACC2E;
}

.buttons1 {
    height: 47px;
    width: 167px;
    text-align: center;
    background: #FACC2E;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #FF8000;
    font-size: 24px;
    position: absolute;
    left: 11px;
    top: 11px;
}

.buttons1:hover{
    background-color: #3399ff;
    width: 167px;
    height:47px;
}


.laboratoria{
    color:#FFFFFF;
    padding-left: 44%;
    padding-top: 25%;
    font-size: 50px;
}

.portafolio{
    color:#FFFFFF;
    padding-left: 45%;
    padding-top: 1%;
    font-size: 30px;

}



.fondo-gris{    
    background:#FCF8F8;
    margin: 0px auto;
}



.f-amarillo1{
    background:#FF8000;
    border: 4px solid #FACC2E; 
    width: 960px;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 40px;
    height: 250px;

}

.imagenDiseno{
 width: 398px;

}

.p-diseño{
    left: 527px;
    bottom: 153px;
    font-size: 50px;
    color:#FFFFFF;
    position: relative;
    font-family: 'Shrikhand', cursive;
}





.f-amarillo2{
    background:#FF8000;
    border: 4px solid #FACC2E;
    width: 960px;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 40px;
    height: 250px;

}

.fotografia{
    width: 375px;
    position: relative;
    left: 563px;
    height: 242px;
}

.p-fotografias{
    left: 168px;
    bottom: 153px;
    font-size: 50px;
    color:#FFFFFF;
    position: relative;
    font-family: 'Shrikhand', cursive;

}

.f-amarillo3{
    background:#FF8000;
    border: 4px solid #FACC2E;
    width: 960px;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 40px;
    height: 250px;

}

.photoshop{
    width: 375px;
    position: relative;
    left: -14px;
    height: 242px;
}

.p-photoshop{
 left: 527px;
 bottom: 153px;
 font-size: 50px;
 color:#FFFFFF;
 position: relative;
 font-family: 'Shrikhand', cursive;

}




.container-cabecera{
 background-image: url(../img/wallicabecera.jpg);
 padding-top: 20px;
 background-repeat: no-repeat;
 max-width: 100%;
 margin-top: 50px;

}  

.cabecera{
    color: #FFFFFF;
    height: 45px;
    padding-left: 20px;

}















